<link rel="stylesheet" href="/css/footer.css">
<footer class="footer-navbar">
    <div class="copyright-name">
        <p>© Coding-Keeda. All Rights Reserved</p>
    </div>
    <div class="nav-links">
        <a href="#home">Home</a>
        <a href="#profile">Profile</a>
    </div>
</footer>