<ul>
    <% for(post of posts){ %>
            <li>
                    <p>
                            <%if(locals.user && locals.user.id==post.user.id){%>
                                    <small>
                                            <a
                                                    href="/posts/destroy/<%= post.id%>">X</a>
                                    </small>
                                    <%}%>
                                            <%= post.content %>
                                                    <br>
                                                    <small>
                                                            <%= post.user.name %>
                                                    </small>
                    </p>
                   <%- include('_comment')-%>
            </li>
            <%}%>
</ul>