<div id="#home">
        <h1>CodingKeeda / <%= title %>
        </h1>

</div>


<section class="feed-posts">
        <h4>Posts</h4>
        <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" placeholder="type here..." cols="30" rows="3"></textarea>
                <input type="submit" value="Post">
        </form>
</section>